

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('../images/crossword.png');
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
    margin: 20px 0;
}

.gap-right {
    margin-right: 10px;
}

.gap-left {
    margin-left: 10px;
}

.gap-top {
    margin-top: 10px;
}

.gap-bottom {
    margin-bottom: 10px;
}

.padding-top {
    padding-top:10px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.main {
    border: 1px solid #f5f5f5;
    background-color: white;
}

.h_styling {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #716AFF;
}

.navbar-brand-box{
    background-color: #716AFF;
    padding: 20px;
}

.navbar-header .navbar-brand-box:hover{
    background-color: #716AFF;
    opacity: 0.5;
}


.vertical-center {
    display: flex;
    align-items: center;
}

.h1_style {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    color:white;
}

.panel-style {
    border: none;
}

.icon-style {
    width: 64px;
    height: 64px;
}

.icon-style:hover {
    text-decoration: none;
}

.caption {
    width:99.25%;
    bottom: 80px;
    left:1px;
    padding: 10px 0 10px 0;
    position: relative;
    background:#716AFF;
}

.caption h4 {
    color: #fff;
    text-align: center;
    xz-index: 100;
}

.add-border {
    border: 1px solid black;
    text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.al-center {
    xalign-items: center;

    display: inline-flex;
    vertical-align: middle !important;
    xtext-align: center;
}

.picheight {
    height: 200px;
    width: 100%;
    xborder: 1px solid black
}

.div-img {
    max-height: 100%;
}


.message {
    resize: none;
}

.form-control:focus {
    border-color: #716AFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(113, 106, 255, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(113, 106, 255, .6);
}